@use 'spacing' as *;

$breakpoints: (
  xs: 400px,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px,
);


$grid-gutter : $spacer;
$grid-gutter-xs : $spacer / 12;
$grid-gutter-sm : $spacer / 6;
$grid-gutter-md : $spacer / 3;
$grid-gutter-lg : $spacer * 2/3;
$grid-gutter-xl : $grid-gutter;
