@use "../abstracts" as *;

:root {
  @each $theme, $color in $palette {
    [data-theme="#{$theme}"] {
      @each $name, $value in $color {
        --clr-#{$name}: #{$value};
      }
    }
  }

  @each $theme, $color in $pallete-shades {
    [data-theme="#{$theme}"] {
      @each $name, $shade in $color {
        @each $property, $value in $shade {
          --#{$name}-shade-#{$property}: #{$value};
        }
      }
    }
  }

  @each $theme, $color in $texts {
    [data-theme="#{$theme}"] {
      @each $name, $value in $color {
        --text-#{$name}: #{$value};
      }
    }
  }
  @each $theme, $color in $backgrounds {
    [data-theme="#{$theme}"] {
      @each $name, $value in $color {
        --bg-#{$name}: #{$value};
      }
    }
  }
  @each $theme, $color in $borders {
    [data-theme="#{$theme}"] {
      @each $name, $value in $color {
        --border-#{$name}: #{$value};
      }
    }
  }



  --ff-primary: #{$ff-primary};
  --ff-secondary: #{$ff-secondary};
  --ff-accent: #{$ff-accent};

  --spacer: #{$spacer};

  // @each $color, $shade in $colors {

  // @each $property, $value in $shade {
  //   --clr-#{$color}-#{$property}: #{$value};
  // }
  // }

  @each $screen-size, $property in $font-sizes {
    @if $screen-size == small {
      @each $prop, $value in $property {
        --fs-#{$prop}: #{$value};
      }
    } @else {
      @include mq($screen-size) {
        @each $prop, $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    }
  }
}
