$border-radius-root: 4px;

$border-radius-sm: $border-radius-root / 2;
$border-radius: $border-radius-root;
$border-radius-lg: $border-radius-root * 2;
$border-radius-xl: $border-radius-root * 6;
$border-radius-pill: 9999px;
$border-radius-circle: 50%;
