$typography: (
  default: (
    h1: (
      font-size: 1.5rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h3: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h4: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h5: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h6: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    button: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    caption: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    overline: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
  ),
  small: (
    h1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h3: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h4: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h5: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h6: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    button: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    caption: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    overline: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
  ),
  medium: (
    h1: (
      font-size: 1.5rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h2: (
      font-size: 1rem,
      font-weight: 500,
      line-height: 1.1,
    ),
    h3: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h4: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h5: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h6: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    button: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    caption: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    overline: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
  ),
  large: (
    h1: (
      font-size: 2rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h3: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h4: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h5: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    h6: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    subtitle2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body1: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    body2: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    button: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    caption: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
    overline: (
      font-size: 1rem,
      font-weight: 800,
      line-height: 1.1,
    ),
  ),
);
